<launch>


  <param name="robot_description"
    textfile="$(find magnetic_controller)/robots/simple_robot.urdf" />

  <param name="shelf_description"
    textfile="$(find magnetic_controller)/robots/shelf.urdf" />

  <node pkg="iai_naive_kinematics_sim" type="velocity_resolved_sim" 
        name="velocity_resolved_sim" output="screen">
    <rosparam param="controlled_joints" file="$(find magnetic_controller)/robots/controlled_joints.yaml" />
    <rosparam param="start_config"
      file="$(find magnetic_controller)/robots/start_config.yaml" />
    <param name="sim_frequency" value="100.0"/>
    <param name="watchdog_period" value="0.2"/>
  </node>

  <node pkg="magnetic_controller" type="pr2_r_vel_controller" name="pr2_controller" output="screen">
    <rosparam param="joint_names"
      file="$(find magnetic_controller)/robots/controlled_joints.yaml" />
    <param name="controller_description" 
      textfile="$(find magnetic_controller)/controller_specs/point_robot_vel_controller.yaml" />
    <param name="frame_id" value="link0" />
    <remap from="~joint_states" to="/joint_states" />
    <param name="nWSR" value="1000"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="fake_odometry"
        output="screen" args="0 0 0 0 0 0 1 odom_combined link0 100" />

</launch>