<launch>
	<include file="$(find iai_naive_kinematics_sim)/launch/pr2.launch"/>
	<include file="$(find giskard_examples)/launch/pr2_left_upper_body_cartesian_position_control.launch" />

	<arg name="launch_prefix" value="" />
	<arg name="command_args" value="-d $(find giskard_examples)/giskard.rviz" />

	<node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
		args="$(arg command_args)" output="screen">
  	</node>
</launch>